$iconSize: 24px;

.lobby-page {
    display: flex;
    flex-direction: column;
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: black;
        padding: 0.6em;
        .header-logo {
            width: 65px;
            height: 24px;
        }
        .header-right {
            .header-icon {
                font-size: $iconSize;
                fill: white;
            }
        }
    }
    .content {
        .content-tabsection{
            padding: 1em;
            .content-nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    overflow-x: auto;
                    width: 100%;
                    height: 50px;
                    li {
                        margin: 30;
                        flex: none;
                        width: 150px;
                        background-color: aquamarine;
                    }
                }
            }
        }
    }
}