@import '../src/tool/reset.scss';

html, body, #root, .App {
  height: 100%;
}

.App-switch {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
}
